{% extends "base.html" %}
{% block content %}

    {% for post in posts %}
    <p>
      {{ post.author.nickname }} says: <b>{{ post.body }}</b>
    {% endfor %}

        <br>

    <h1>OAuth Demo</h1>
    {% if current_user.is_authenticated %}
    <h2>Hi, {{ current_user.nickname }}!</h2>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
    <h2>I don't know you!</h2>
    <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
    {% endif %}
    </p>

{% endblock %}